body {
    font-family: Arial, sans-serif;
    background-color: #f9f9f9;
    text-align: center;
    margin: 0;
    padding: 0;
}

form {
    margin-top: 50px;
}

input {
    margin: 10px;
    padding: 8px;
}

button {
    padding: 8px 16px;
    background-color: #333333;
    color: #ffffff;
    border: none;
    cursor: pointer;
}
