.table-accounts {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

.table-accounts th, .table-accounts td {
    border: 1px solid #ddd;
    padding: 8px;
}

.table-accounts th {
    background-color: #333;
    color: white;
    text-align: left;
}

.table-accounts tr:nth-child(even) {
    background-color: #f2f2f2;
}

.table-accounts tr:hover {
    background-color: #ddd;
}
